name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write
  packages: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v3
        with:
          run_install: false

      - name: Install Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          # registry-url required. Learn more at
          # https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm

      # npm 11.5.1 or later is required so update to latest to use OIDC trusted publisher
      # https://github.com/eslint/config-inspector/pull/174/files
      # https://github.com/e18e/ecosystem-issues/issues/201
      - run: npm install -g npm@latest

      - run: pnpm install --frozen-lockfile
      - run: pnpm run build:packages

      - run: pnpm publish -r --access public --no-git-checks --dry-run

      - run: pnpm publish -r --access public --no-git-checks
